html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	height: 100%;
	background-color: #FCFCFC;
}

p {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	padding: 5px;
	font-family: "Questrial";
	font-size: 15px;
	font-weight: 400;
	border-bottom: 1px solid #bdc3c7;
}

th {
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: -2px;
	border-bottom: 1px solid #bdc3c7;
}

.row:nth-of-type(odd) {
	background-color: white;
}

.row:nth-of-type(even) {
	background-color: white;
}

.row:not(.failed) {
	border-left: 5px solid #27ae60;
}

.row:hover {
	background-color: #E74C3C;
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.row {
	border-right: 1px solid #bdc3c7;
}

.failed {
	border-left: 5px solid #e74c3c;
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

.avatar {
	border: 1px solid #2C3E50;
	border-bottom: 5px solid #27ae60;
}

.avatarDescription {
	font-family: "Questrial";
	font-size: 12pt;
	padding: 0;
	padding-left: 20px;
	margin: 0;
	display: inline-block;
	letter-spacing: -1px;
}

#avatarName {
	font-size: 30pt;
	letter-spacing: -3px;
}

.players {
	text-align: center;
	font-family: "Questrial";
	font-size: 15px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	letter-spacing: -1px;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto 0px;
	position: relative;
	background-color: #ECF0F1;
}

#title {
	font-family: "Questrial";
	font-size: 20px;
	text-align: center;
	font-weight: 700;
	padding: 15px;
}

#main {
	position: relative;
	margin-left: 200px;
	padding: 50px;
}

#content {
	width: 100%;
	height: 100%;
}

#push {
	height: 50px;
	clear: both;
}

#sidebar {
	position: absolute;
	top: 56px;
	bottom: 0;
	left: 0;
	width: 200px;
	background-color: #2C3E50;
	color: #ecf0f1;
	letter-spacing: -2px;
}

.container {
	align: center;
}

.logoLeft {
	color: #e74c3c;
	display: inline-block;
	font-size: 20pt;
	padding: 0;
	margin: 0;
}

.logoRight {
	display: inline-block;
	color: #ecf0f1;
	font-size: 20pt;
	padding: 0;
	margin: 0;
}

@-webkit-keyframes zoomIn {
	0% {	
		opacity: 0;	
		-webkit-transform: translateY(100px);
		        transform: translateY(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes zoomIn {
	0% {	
		opacity: 0;	
		-webkit-transform: translateY(100px);
		        transform: translateY(100px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

.zoomIn {
  	-webkit-animation-name: zoomIn;
  	        animation-name: zoomIn;
  	-webkit-animation-duration: 1s;
  	        animation-duration: 1s;;
}

#logoHolder {
	width: 160px;
	text-align: center;
	animation-duration: 1s;
	animation-name: zoomIn;
}

.headerBar {
	font-size: 0;
	padding: 15px;
	padding-left: 20px;
	background: #2C3E50;
	margin: 0;
	border-bottom: 1px solid;
	height: 25px;
	letter-spacing: -2px;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
}

h1, h2 {
	font-family: 'Questrial';
	font-weight: 700;
	font-size: 20;
}
