<!DOCTYPE html>
<html>
<head>
	<title>Displosu!</title>
	<link rel=stylesheet href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Questrial:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div class="headerBar">
			<div id="logoHolder">
				<h1 class="logoLeft">displ</h1>
				<h1 class="logoRight">osu</h1>
			</div>
		</div>
		<div id="content">
			<div id="sidebar">
				<h1 id="title">PLAYERS</h1>
				<h4 class="players">949789</h4>
			</div>
			<div id="main">
				<div id="avatarHolder">
					<img class="avatar" src="https://s.ppy.sh/a/949789">
					<div class="avatarDescription">
						<h1 id="avatarName">Imvoo</h1>
						<p>1,356pp, #31,539</p>
					</div>
				</div>
				<div style="clear: left;"></div>
				<br>
				{{ if eq ResetDiv 600 }}{{ end }}
			    {{range $index, $element := .}}
			    	{{ if eq .Rank "F" }}
			    		{{ if le SongDiv 0 }}<div class="holder">{{ end }}
			    		<div class="song failed">
			    			<!-- <p>{{ CalculatePercentage . }}</p> -->
			    			<p>{{ .Score }}</p>
			    		</div>
			    		{{ if or (eq RetryDiv 80) (ge SongDiv 3) }}
			    		{{ if eq ResetDiv 60 }}{{ end }}</div>{{ end }}
		    		{{ else }}
			    		{{ if and (ne SongDiv 0) (le SongDiv 10) }}</div>{{ end }}
			    		{{ if eq ResetDiv 60 }}{{ end }}
		    			<div class="song cleared">
		    				<!-- <p>{{ CalculatePercentage . }}</p> -->
		    				<p>{{ .Score }}</p>
			    		</div>
		    		{{ end }}
			    {{end}}
			</div>
		</div>
		<div id="push"></div>
	</div>
</body>
</html>